<div class="badges">

  <a href="https://blerf.ca" target="_blank"><img src="/badges/blerf-button.gif" alt="Blerf" title="you are here"></a>

  <img src="/badges/made-with-emacs.png" alt="made with emacs" title="emacs <3 <3">

  <a href="https://typelevel.org" target="_blank"><img src="/badges/typelevel-now.png" alt="typelevel now!" title="Typelevel! Now! Yes!"></a>

  <img src="/badges/cheezit.gif" alt="built eating cheezit" title="cronch">

  <a href="http://cyber.dabamos.de/88x31" target="_blank"><img src="/badges/88x31.gif" alt="88x31" title="badges!"></a>

  <a href="https://hekate2.github.io/buttonmaker" target="_blank"><img src="/badges/button-maker.png" alt="button now!" title="make buttons!"></a>
</div>
